In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df = DataFrame(np.random.randn(6,4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.309768  0.392892  1.258556  0.385553
1 -1.823937 -0.061938  0.163814 -1.024202
2  0.263913 -0.725503  0.199839  0.331503
3  0.000231 -1.502259 -0.670218  0.884615
4  1.281549 -1.225345 -1.463684  1.396229
5 -0.372747 -2.178139  0.450547  1.021365

## 1. DataFrame选择数据

**选择A列的数据**

In [3]:
df['A']

0   -0.309768
1   -1.823937
2    0.263913
3    0.000231
4    1.281549
5   -0.372747
Name: A, dtype: float64

**切片得到行数据**

In [4]:
df[1:3]

          A         B         C         D
1 -1.823937 -0.061938  0.163814 -1.024202
2  0.263913 -0.725503  0.199839  0.331503

**DataFrame的loc方法帮助选择数据**

In [5]:
# 选择第0行数据
df.loc[0]

A   -0.309768
B    0.392892
C    1.258556
D    0.385553
Name: 0, dtype: float64

In [6]:
# 选择多列数据
df.loc[:, ['A', 'B']]

          A         B
0 -0.309768  0.392892
1 -1.823937 -0.061938
2  0.263913 -0.725503
3  0.000231 -1.502259
4  1.281549 -1.225345
5 -0.372747 -2.178139

In [7]:
# 选择局部数据，行列交叉区域的数据
df.loc[0:2, ['A', 'B']]

          A         B
0 -0.309768  0.392892
1 -1.823937 -0.061938
2  0.263913 -0.725503

In [8]:
# 只选择一个数据
df.loc[0, 'A']

-0.30976817308500076

**at方法用于专门获取某个值**

In [9]:
df.at[0, 'A']

-0.30976817308500076

## 2. DataFrame切片操作

**iloc方法提取第四行数据**

In [10]:
df.iloc[3]

A    0.000231
B   -1.502259
C   -0.670218
D    0.884615
Name: 3, dtype: float64

In [11]:
# 返回series数据类型
type(df.iloc[3])

pandas.core.series.Series

In [12]:
# 返回4-5行，1-2列
df.iloc[3:5, 0:2]

          A         B
3  0.000231 -1.502259
4  1.281549 -1.225345

In [13]:
# 提取不连续行和列的数
df.iloc[[1,2,4], [0,2]]

          A         C
1 -1.823937  0.163814
2  0.263913  0.199839
4  1.281549 -1.463684

In [14]:
# 提取某一个值
df.iloc[1,1]

-0.061938026695062411

**iat是专门提取某个数的方法，效率更高**

In [15]:
df.iat[1,1]

-0.061938026695062411

## 3. DataFrame筛选数据

In [16]:
# 筛选D列数据中大于0的行
df[df.D > 0]

          A         B         C         D
0 -0.309768  0.392892  1.258556  0.385553
2  0.263913 -0.725503  0.199839  0.331503
3  0.000231 -1.502259 -0.670218  0.884615
4  1.281549 -1.225345 -1.463684  1.396229
5 -0.372747 -2.178139  0.450547  1.021365

In [17]:
# 使用&符号实现多条件筛选
df[(df.D > 0) & (df.C < 0)]

          A         B         C         D
3  0.000231 -1.502259 -0.670218  0.884615
4  1.281549 -1.225345 -1.463684  1.396229

**加入我们只需要A和B列的数据，而D和C列数据都是用于筛选的，可如此写**

In [18]:
df[['A', 'B']][(df.D > 0) & (df.C < 0)]

          A         B
3  0.000231 -1.502259
4  1.281549 -1.225345

**通过insin方法来筛选特定的值**

In [19]:
# 
alist = [1, 0.054497, 0.36]